<div class="uk-width-1-1 uk-height-viewport uk-flex uk-flex-center uk-flex-middle">
    <div>
        <h1 class="uk-heading-primary uk-text-center sb-font uk-heading-2xlarge">Spirit Bomb</h1>
    </div>
</div>