# Ignore Mac system files
.DS_store

# Ignore files related to API keys
.env
.env.local

# Ignore Node JS src files
node_modules/

# Ignore files related to PrePros
prepros.config

# Ignore config.php database information
wwwroot/site/config.php

# Ignore sessions / logs
wwwroot/site/assets/cache/
wwwroot/site/assets/logs/
wwwroot/site/assets/sessions/

# Ignore UIkit
wwwroot/site/templates/uikit/

# Ignore site assets + modules
wwwroot/site/assets/*
wwwroot/site/modules/*
wwwroot/site/api/*

# Ignore /wire/ core files
wwwroot/wire/*
