.uk-navbar-nav > li > a {
    font-family: ShareTechMono, monospace;
    font-size: 1.1rem;
    text-transform: none;
}

.uk-navbar-nav > li.uk-active > a {
    color: #eeeeee;
    font-weight: 700;
}

